
/* main {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 2px;
    scroll-behavior: smooth;
  }
  
  section {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transform-style: preserve-3d;
    column-gap: 8rem;
  }
  
  .no-parallax {
    background-color: rgba(240, 255, 255, 0.3);
    z-index: 999;
  }
  
  section h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 2px;
    font-family: 'Dancing Script', cursive;
  }
  .parallax::after {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
  }
  .bg::after {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://picsum.photos/id/1062/1080/720');
    background-size: cover;
  }
  .parallax h1 {
    width: 60%;
    font-size: 4.6rem;
  }

 .skew-hero {
  clip-path: polygon(38% 5%, 86% 14%, 100% 0, 100% 99%, 60% 94%, 4% 100%, 0 74%, 0 4%);
  /* clip-path: polygon(33% 8%, 93% 0, 100% 30%, 100% 99%, 60% 94%, 0 100%, 4% 80%, 0 4%); */
/*} /*
/* 
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;  
  margin: 0 2rem;
  height: 60rem;
  column-gap: 2rem;
}

.item-text {
  width: 55%;
  text-align: justify;
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: azure;
  text-shadow: 2px 1px 10px #000000
}
.hero-image {
  width: 100%;
} */