.team-gallery {
    display: flex;
    flex-direction: column;
    margin: 4rem 2.4rem;    
    row-gap: 1.6rem;    
}
.mrgB-60 {
    margin-bottom: 0;
}

.team-gallery .item-team {
    height: 36rem;
    border-radius: 2rem;
}
.team1 {
    background-image: url('https://i.postimg.cc/R0DHN50S/PHOTO-2023-02-24-16-08-11.jpg');
}
.team2 {
    background-image: url('https://i.postimg.cc/V60btGSj/PHOTO-2023-02-24-16-07-25.jpg');
}
.team3 {
    background-image: url('https://i.postimg.cc/Gtk874xt/PHOTO-2023-02-24-16-06-48.jpg');
}
.team4 {
    background-image: url('https://i.postimg.cc/T185JVmB/PHOTO-2023-02-24-16-07-54.jpg');
}
.team5 {
    background-image: url('https://i.postimg.cc/L4f16WFS/PHOTO-2023-02-24-16-07-06.jpg');
}
.item-team {
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0 2rem;
    width: auto;
}
.item-team p {
    font-size: 1.6rem;
    font-weight: 500;
    color: azure;
    text-align: justify;
    text-shadow: 2px 1px 5px #333;
}

@media screen and (min-width: 800px) {
    .team-gallery {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        column-gap: 2rem;
    }
    .team-gallery .item-team {
        height: 80rem;
        width: 50rem;        
    }
    .item-team p {
        font-size: 2.2rem;
        margin: 0;
        margin-top: 8rem;
        padding: 0 2rem;
    }    
    .item-team {
        align-items: center;
        justify-content: center;
    }
    .mrgB-60 {
        margin-bottom: 14rem;
    }
}